MQL5/Experts/Advisors
MQL5/Experts/Examples
MQL5/Scripts
MQL5/Indicators
*.mqh
*.ex5
*.log
mqlcache.dat
Config/
logs/
Bases/
*.dat
*.bmp
Profiles/
history/
Sounds/
*.xls
*.exe
*.hcs
tester/cache
tester/files
tester/history
tester/logs
tester/Agent*
*.ico
templates/ADX.tpl
templates/BollingerBands.tpl
templates/Layers.tpl
templates/Momentum.tpl
templates/OptimizationReport.tpl
templates/Popular.tpl
templates/Volume.tpl
templates/Williams.tpl
templates/*.htm
